# build/output que SÍ queremos ignorar
node_modules/
_site/
assets/bundles/
.sass-cache
.jekyll-cache
.jekyll-metadata

# archivos varios
yarn-error.log
.yarnclean
.DS_Store
.idea

# --- Asegurar que versionamos estos ---
!_layouts/
!_layouts/**

!_includes/
!_includes/**

!assets/
!assets/app.scss
!assets/images/**
!assets/docs/**
