<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTDP" aria-controls="navbarTDP" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTDP">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" href="#inicio">Inicio</a>
        <a class="nav-link" href="#screenshots">Capturas</a>
        <a class="nav-link" href="#descripcion">Descripción</a>
        <a class="nav-link" href="#featured">Destacado</a>
      </div>
    </div>
  </div>
</nav>
